### **APP DE CONEXIÓN BASE DE DATOS**

---

In [4]:
# Importación de librerias utilizadas para la conección y tratamiento de la información
# Conección
from sqlalchemy import create_engine
from sqlalchemy.engine import URL 
import pypyodbc as odbc
# Tratamiento de información
import pandas as pd
import pandasql as ps
import numpy as np
# Tratamiento de fechas
from datetime import date
# Usuarios y contraseñas protegidas
import getpass

In [5]:
# Solicitar usuario y contraseña de acceso
SERVER_NAME = input('NOMBRE DEL SERVIDOR: ')
DATABASE_NAME = input('NOMBRE DE DATABASE: ')
db = input('NOMBRE TABLA/VISTA: ')
UID = input('Ingresa tu usuario: ')
PWD = getpass.getpass('Ingresa tu contraseña: ')

In [6]:
# Variable de login
connection_string = f'''
Driver={{SQL Server}};
Server={SERVER_NAME};
Database={DATABASE_NAME};
Uid={UID};
Pwd={PWD};
'''

In [7]:
# Variable SQL: Consulta SQL para extracción de data
# Filtro de fecha: WHERE CONVERT(DATE, fecha, 103) >= CONVERT(DATE, GETDATE()-1, 103)
# Código 103 corresponde al formateo de fecha DD/MM/YYYY
sql_query = f'''

SELECT *
FROM {db}
-- Filtrar por registros cuya fecha sea la fecha máxima presente en la vista
WHERE fecha IN (SELECT MAX(fecha) FROM {db})
-- O por registros cuya fecha tenga el máximo valor de fecha para el mes anterior
   OR CONVERT(DATE, fecha) = (
       SELECT MAX(CONVERT(DATE, fecha))
       FROM {db}
       WHERE MONTH(fecha) = MONTH(DATEADD(MONTH, -1, GETDATE()))
   );

'''

In [8]:
# Script de conexión con base de datos y servidor
connection_url = URL.create('mssql+pyodbc', query={'odbc_connect': connection_string})
engine = create_engine(connection_url, module=odbc)

In [9]:
# Script de descarga de data de la base de datos de acuerdo a la consulta SQL
df = pd.read_sql_query(sql_query, engine)

---

#### **ANÁLISIS DE DATA**

Funciones personalizadas

In [10]:
# Funciones de formateo de registros
# Formeteo de fecha
def date_formatting(fecha):
    date = fecha
    if type(date) == str:
        date = pd.to_datetime(date)
    result = date.strftime('%d-%m-%Y')
    return result

# Formateo de numeros
def num_formatting(numero):
    return '{:,.2f}'.format(numero)

# Proceso de DataFrame a travez de pandasql as ps para realizar consultas sql
def show_query(query, df):
    result = ps.sqldf(query, locals())
    return result

Datos generales del DataFrame "df"

In [11]:
# Variables de la base de datos
fecha_min = date_formatting(df['fecha'].min())
fecha_max = date_formatting(df['fecha'].max())
cuenta_df = num_formatting(df['fecha'].nunique())
cuenta_total_registros = num_formatting(df['fecha'].count())
cuenta_registros_df_max = num_formatting((df['fecha'] == df['fecha'].max()).sum())

In [12]:
# Visualización de información "df"
print("Datos de Generales")
print(f"Tabla: {db}")
print('------------------------------------------------------------')
print(f"Fecha mínima:       {fecha_min}")
print(f"Fecha máxima:       {fecha_max}")
print(f"Bases de datos:     {cuenta_df} Bases de datos")
print(f"Registos totales:   {cuenta_total_registros} en {cuenta_df} DB")
print(f"Registos ultima DB: {cuenta_registros_df_max} regristros de fecha {fecha_max}")

Datos de Generales
Tabla: vst_matriz_tbl
------------------------------------------------------------
Fecha mínima:       31-12-2023
Fecha máxima:       17-01-2024
Bases de datos:     2.00 Bases de datos
Registos totales:   31,882.00 en 2.00 DB
Registos ultima DB: 15,934.00 regristros de fecha 17-01-2024

In [13]:
# Datos generales de la tabla
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31882 entries, 0 to 31881
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   agencia          31882 non-null  int64
 1   nombreagencia    31882 non-null  object
 2   prestamo         31882 non-null  int64
 3   fecha            31882 non-null  datetime64[ns]
 4   codigooficial    31882 non-null  int64
 5   totalcartera     31882 non-null  float64
 6   prevision        31880 non-null  float64
 7   estado           31882 non-null  int64
 8   moneda           31882 non-null  int64
 9   fechaincumplido  6045 non-null   datetime64[ns]
 10  mora             6045 non-null   float64
 11  oficial          31882 non-null  object
 12  nrosocio         31882 non-null  int64
 13  nombrecliente    31882 non-null  object
 14  saldodiferido    8907 non-null   float64
 15  fechadesembolso  31882 non-null  datetime64[ns]
 16  montodesembolso  31882 non-null  float64
 17  carnetsocio      31880 non-null  object
 18  calificacion     31880 non-null  object
 19  interes          31882 non-null  float64
 20  interesdiferido  31882 non-null  float64
 21  tasa             31882 non-null  float64
dtypes: datetime64[ns](3), float64(8), int64(6), object(5)
memory usage: 5.4+ MB
None

In [14]:
# Descripción general de las columnas de la tabla
print(df.describe())

            agencia      prestamo                          fecha  \
count  31882.000000  3.188200e+04                          31882
mean      21.461326  1.001922e+07  2024-01-08 12:39:37.743076352
min       10.000000  1.439000e+03            2023-12-31 00:00:00
25%       12.000000  1.009491e+07            2023-12-31 00:00:00
50%       18.000000  1.159026e+07            2023-12-31 00:00:00
75%       28.000000  1.249236e+07  2024-01-17 01:30:02.836999936
max       42.000000  1.429103e+07     2024-01-17 01:30:02.837000
std        9.830126  4.334103e+06                            NaN

       codigooficial   totalcartera      prevision        estado  \
count   31882.000000   31882.000000   31880.000000  31882.000000
mean      496.044978    6848.112362     309.920250      2.272630
min        41.000000       0.000000       0.000000      2.000000
25%       428.000000    1337.336370       5.471210      2.000000
50%       515.000000    2725.536443      52.287901      2.000000
75%       606.000000    6072.149052     153.061224      2.000000
max       729.000000  374619.000000  100138.744897      6.000000
std       147.845308   16155.769306    1549.658188      0.881383

             moneda             fechaincumplido          mora       nrosocio  \
count  31882.000000                        6045   6045.000000   31882.000000
mean       1.197478  2022-06-03 04:49:54.342432    587.701075  241647.476193
min        1.000000         1994-10-30 00:00:00      1.000000      92.000000
25%        1.000000         2023-03-09 00:00:00      2.000000  218790.000000
50%        1.000000         2023-12-15 00:00:00     20.000000  267162.000000
75%        1.000000         2024-01-15 00:00:00    312.000000  289222.500000
max        2.000000         2024-01-17 00:00:00  10671.000000  302663.000000
std        0.398102                         NaN   1334.477390   65338.626561

       saldodiferido                fechadesembolso  montodesembolso  \
count    8907.000000                          31882     31882.000000
mean     1345.723141  2021-04-07 07:53:09.887710976     10016.929506
min         0.145772            1994-08-31 00:00:00       218.658892
25%       432.354956            2019-08-15 00:00:00      2200.000000
50%       771.928571            2022-05-21 00:00:00      4373.177843
75%      1498.938775            2023-05-09 00:00:00      8163.265306
max     52380.109329            2024-01-17 00:00:00    459183.673469
std      1997.923263                            NaN     21157.072597

            interes  interesdiferido          tasa
count  31882.000000     31882.000000  31882.000000
mean      87.860093       431.637746     20.399799
min        0.000000         0.000000      5.060000
25%        2.743440         0.000000     16.000000
50%       16.230160         0.000000     21.000000
75%       48.393950         0.000000     25.000000
max    25521.192420     81435.870000     32.000000
std      492.177296      2570.377164      5.946677